.PageRoot {
  display: flex;
  flex-direction: column;
  color: var(--indigo-12);
  min-height: 100vh;

  /* Prevent elements with `position: absolute` from adding scrollbars */
  overflow: hidden;

  /* Scaling multiplier for the demo area */
  --page-showcase-scale: calc(10 / 16);
  --page-showcase-base-width: 1760px;
}

@media (min-width: 500px) {
  .PageRoot {
    --page-showcase-scale: calc(11 / 16);
  }
}

@media (min-width: 500px) {
  .PageRoot {
    --page-showcase-scale: calc(12 / 16);
  }
}

@media (min-width: 600px) {
  .PageRoot {
    --page-showcase-scale: calc(13 / 16);
  }
}

@media (min-width: 700px) {
  .PageRoot {
    --page-showcase-scale: calc(14 / 16);
  }
}

@media (min-width: 800px) {
  .PageRoot {
    --page-showcase-scale: 1;
  }
}

@media (min-width: 1000px) {
  .PageRoot {
    --page-showcase-scale: calc(10 / 16);
  }
}

@media (min-width: 1900px) and (min-height: 800px) {
  .PageRoot {
    --page-showcase-scale: calc(12 / 16);
  }
}

@media (min-width: 2200px) and (min-height: 800px) {
  .PageRoot {
    --page-showcase-scale: calc(13 / 16);
  }
}

@media (min-width: 2400px) and (min-height: 800px) {
  .PageRoot {
    --page-showcase-scale: calc(15 / 16);
  }
}

@media (min-width: 2700px) and (min-height: 800px) {
  .PageRoot {
    --page-showcase-scale: 1;
  }
}

@media (min-width: 3000px) and (min-height: 1000px) {
  .PageRoot {
    --page-showcase-scale: calc(18 / 16);
  }
}

.PageRoot ::selection {
  background-color: hsla(225, 98.6%, 46.4%, 0.15);
}

.PageContent {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.PageHero {
  box-sizing: border-box;
  margin-top: 80px;
}

.PageHeroTitle {
  font-family: 'Untitled Sans', sans-serif;
  font-size: 280em;
  font-weight: 500;
  letter-spacing: -0.09em;
  line-height: 0.8;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -0.075em;
  background-image: linear-gradient(
    180deg,
    #6599ff 0%,
    #b8adee 63.54%,
    #aba9fc 83.85%,
    #e787ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.PageHeroText {
  font-size: max(30em, 22px);
  font-weight: 500;
  font-family: Untitled Sans, sans-serif;
  letter-spacing: -0.03em;
  line-height: 1.4;
}

.PageHeroButton {
  font-size: max(20em, 15px);
  font-weight: 500;
  font-family: Untitled Sans, sans-serif;
  align-items: center;
  display: inline-flex;
  gap: 1em;
  height: 3em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  text-decoration: none;
  border-radius: 0.5em;
  user-select: none;
  background-color: var(--indigo-12);
  color: white;
  white-space: nowrap;
}

:global(.dark-theme) .PageHeroButton {
  color: var(--blue-1);
}

.PageHeroButtonArrow {
  display: block;
}

.PageHeroButtonArrow::before {
  content: '->';
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-left: -0.3em;
  margin-right: -0.3em;
}

.PageShowcase {
  position: relative;
  user-select: none;
}

.PageShowcase::before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';

  /* Position the background relative to the content-box */
  background-origin: content-box;

  /* Extend the padding-box outwards without moving the content-box */
  padding: 9999px;
  margin: -9999px;

  /*
   * Radii that define the dots in the pattern scale inversely to the showcase scaling
   * factor with certain limits that maintain a balanced visual appearance.
   */
  --page-showcase-dot-r1: max(min(calc(10% / var(--page-showcase-scale)), 11%), 10%);
  --page-showcase-dot-r2: max(min(calc(12% / var(--page-showcase-scale)), 14%), 12%);

  /* Render the dot pattern */
  background-image: radial-gradient(
    var(--mauve-a6) var(--page-showcase-dot-r1),
    transparent var(--page-showcase-dot-r2)
  );

  background-color: var(--mauve-a1);

  /* Scale the dots together with the demo */
  background-size: calc(16px * var(--page-showcase-scale)) calc(16px * var(--page-showcase-scale));
}

.PageShowcaseInnerScaled {
  transform: scale(var(--page-showcase-scale));
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Before 1000px            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@media (max-width: 999.99px) {
  .PageRoot {
    font-size: 0.13vw;
  }

  .PageContent {
    flex-direction: column;
  }

  .PageHero {
    text-align: center;
    padding: 4vw;
  }

  .PageShowcase {
    position: relative;
    --page-showcase-padding: 48px;
  }

  .PageShowcase::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .PageShowcase::before {
    /* "Spread" the background pattern from top center of .PageShowcase element */
    top: 0;
    left: 50%;
    background-position-x: center;
    background-position-y: calc(
      (var(--page-showcase-padding) - 16px / 2) * var(--page-showcase-scale)
    );
  }

  .PageShowcaseInner {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    height: calc((1550px + var(--page-showcase-padding) * 2) * var(--page-showcase-scale));
  }

  .PageShowcaseInnerScaled {
    display: table;
    padding: var(--page-showcase-padding);
    transform-origin: top left;
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            After 1000px             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@media (min-width: 1000px) {
  .PageRoot {
    /* 1em is no smaller than 0.4px and no larger than 1px, 0.05vw, or 0.1vh */
    font-size: max(0.4px, min(1px, 0.05vw, 0.1vh));
  }

  .PageContent {
    align-items: stretch;
  }

  .PageHero {
    flex-shrink: 0;

    /* The hero width is between 320px and 800px */
    width: 800em;

    /* Push self away from the left edge when there's space */
    margin-left: auto;

    /* The padding is between 25px and 62.5px */
    padding-left: 62.5em;
    padding-right: 62.5em;
    margin-bottom: 62.5em;
  }

  .PageHero {
    display: flex;
  }

  .PageShowcase {
    /* Set static width as actual content is positioned absolutely */
    width: calc(var(--page-showcase-base-width) * var(--page-showcase-scale));

    /* Push self away from the right edge when there's space */
    margin-right: auto;
  }

  .PageShowcase::before {
    /* "Spread" the background pattern from center left of .PageShowcase element */
    background-position: 50% calc(50% + 0.5px);
    top: 50%;
    left: 0;
  }

  .PageShowcaseInner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .PageShowcaseInnerScaled {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    transform-origin: center left;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .PageHero {
    align-items: center;

    /* Visually center the hero */
    margin-bottom: calc(2vh + 80px);
  }
}
