.HeroContainer {
  pointer-events: none;
  user-select: none;
  font-size: 60px;
  position: relative;
  height: 300px;
  z-index: 0;
}

.HeroHeader {
  position: absolute;
  z-index: 10;
  top: var(--space-6);
  left: 5%;
  transform: translate(0, 0.5px);
}

.HeroParagraph {
  position: absolute;
  width: 9em;
  pointer-events: auto;
  user-select: text;
  font-variant-numeric: proportional-nums;
  letter-spacing: -0.02em;
  line-height: 1.35;
  top: 190px;
  margin-left: 7px;
  left: 5%;
}

.HeroBoxLines {
  pointer-events: none;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 110px;
  left: 73%;
}

@media (min-width: 520px) {
  .HeroContainer {
    height: 400px;
    font-size: 70px;
  }

  .HeroHeader {
    top: calc(60px - 0.1em);
    left: 12%;
  }

  .HeroParagraph {
    line-height: 1.25;
    top: 240px;
    left: 12%;
  }

  .HeroBoxLines {
    top: 60px;
    left: 50%;
    right: auto;
    transform: translateX(1.25em);
  }
}

@media (min-width: 900px) {
  .HeroContainer {
    font-size: 100px;
    position: fixed;
    overflow: visible;
    top: 10vh;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .HeroHeader {
    top: -0.1em;
    left: 50%;
    transform: translate(-110%, 0.5px);
  }

  .HeroTitleIcons {
    margin-left: 0.47em;
  }

  .HeroParagraph {
    top: 124px;
    left: 50%;
    margin-left: 0;
  }

  .HeroBoxLines {
    position: absolute;
    top: 0;
    transform: none;
  }
}

@media (min-width: 1200px) {
  .HeroContainer {
    font-size: 130px;
  }

  .HeroHeader {
    transform: translate(-110%, -0.5px);
  }

  .HeroParagraph {
    top: 190px;
  }
}
