@media (min-width: 900px) {
  .IconsPanel {
    margin-top: calc(30vh + 180px);
  }
}

@media (min-width: 1200px) {
  .IconsPanel {
    margin-top: calc(25vh + 200px);
  }
}

.IconsPanelMainSection {
  display: flex;
  flex-direction: column;
}

.IconsPanelSectionContent {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

@media (min-width: 750px) {
  .IconsPanelMainSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: var(--space-8);
  }
}
