.Menu {
  position: fixed;
  top: var(--space-6);
  right: 0;
  margin: var(--space-6);
  justify-content: flex-end;
  display: none;
}

.MenuInner {
  background: var(--accent-3);
  border-radius: var(--radius-1);
  box-shadow: 0 10px 40px -10px hsla(174, 100%, 30%, 0.05);
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-4) var(--space-5);
  user-select: none;
  -webkit-user-select: none;
}

@media (min-width: 900px) {
  .Menu {
    display: inline-flex;
  }
}
