@media (min-width: 520px) {
  .ResultsWrapper {
    column-gap: var(--space-7);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(max(calc(var(--total-rows) / 2), 3), auto);
    grid-auto-flow: column;
  }
}

@media (min-width: 900px) {
  .ResultsWrapper {
    column-gap: var(--space-3);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(max(calc(var(--total-rows) / 4), 3), auto);
    grid-auto-flow: column;
  }
}

.GhostButton {
  border: 0;
  outline: 0;
  margin: 0;
  font-family: inherit;
  text-align: inherit;
  color: inherit;
  appearance: none;
  background: transparent;
  width: 100%;
  display: block;
  cursor: pointer;
  padding: var(--space-2);
  border-radius: var(--radius-1);
}

.GhostButton:hover {
  background-color: var(--accent-a4);
}

.GhostButton:active,
.GhostButton:focus {
  box-shadow: 0 0 0 2px var(--accent-a8);
}
