.Root {
	display: flex;
	gap: 0.5rem;
	flex-wrap: nowrap;
}

.Input {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 4px;
	font-size: 15px;
	color: #fff;
	background-color: var(--black-a2);
	box-shadow: 0 0 0 1px var(--black-a6);
	padding: 0;
	height: 35px;
	width: 24px;
	line-height: 1;

	&:hover {
		box-shadow: 0 0 0 1px black;
	}
	&:focus {
		box-shadow: 0 0 0 2px black;
	}
	&::selection {
		background-color: var(--black-a6);
		color: white;
	}
}
