.ColorsMarketingButton {
	box-shadow:
		-15px 0 30px -10px var(--orange-a7),
		0 0 30px -10px var(--pink-a7),
		15px 0 30px -10px var(--violet-a7),
		0 0 0 1px var(--pink-a4);
	transition:
		box-shadow 150ms,
		transform 150ms;
}

@media (hover: hover) {
	.ColorsMarketingButton:hover {
		box-shadow:
			-15px 0 30px -10px var(--orange-a8),
			0 0 30px -10px var(--pink-a8),
			15px 0 30px -10px var(--violet-a8),
			0 0 0 1px var(--pink-a4);
	}
}

.ColorsMarketingButton:active {
	box-shadow:
		-7px 0 20px -5px var(--orange-a6),
		0 0 20px -5px var(--pink-a6),
		7px 0 20px -5px var(--violet-a6),
		0 0 0 1px var(--pink-a4);
	transition-duration: 60ms;
	transform: translateY(1px);
}

.ColorsMarketingButton:focus-visible {
	box-shadow:
		-15px 0 30px -10px var(--orange-a8),
		0 0 30px -10px var(--pink-a8),
		15px 0 30px -10px var(--violet-a8),
		0 0 0 2px var(--accent-a7);
}

.ColorsMarketingButton:active:focus-visible {
	box-shadow:
		-7px 0 20px -5px var(--orange-a6),
		0 0 20px -5px var(--pink-a6),
		7px 0 20px -5px var(--violet-a6),
		0 0 0 2px var(--accent-a7);
}
