.CollapsibleGradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--space-9);
  padding: var(--space-3);
  overflow: hidden;
  border-radius: 0 0 var(--br-3) var(--br-3);
  isolation: isolate;
}

.CollapsibleGradient::before {
  content: '';
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, transparent, var(--gray-1) 70%);
  opacity: 0.9;
  z-index: -1;
}
