.LinkHeading {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
}

.LinkHeading svg {
  color: var(--gray-11);
  visibility: hidden;
}

.LinkHeading:hover svg {
  visibility: visible;
}

.List {
  list-style-type: circle;
}

.Blockquote {
  border-left: 1px solid var(--gray-a5);
}

.Note {
  border-radius: var(--radius-3);
  color: var(--gray-11);
  font-size: var(--font-size-1);
}

.Note p[class*='size-'] {
  font-size: var(--font-size-2);
  margin: 0;
}

.Alert {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-3);
  padding: var(--space-4);
  border-radius: var(--radius-4);
  box-shadow: inset 0 0 0 1px var(--yellow-a6);
  background-color: var(--yellow-a3);
  color: var(--yellow-11);
}

.Alert p {
  margin: 0;
}

.Alert p[class*='size-'] {
  font-size: var(--font-size-2);
}
