.Pre {
  box-sizing: border-box;
  border-radius: var(--radius-4);
  padding: var(--space-4) var(--space-5);
  overflow: auto;
  white-space: pre;
  position: relative;
  background-color: var(--background);
  color: var(--gray-12);
  box-shadow: var(--border);

  --border: inset 0 0 0 1px var(--gray-a5);
  --line-numbers: var(--gray-6);
  --faded-lines: var(--gray-a8);
  --removed: var(--red-11);
  --added: var(--green-11);
  --highlighted-line-bg: var(--accent-a3);
  --highlighted-word-1-bg: var(--accent-a3);
  --highlighted-word-1-bg-active: var(--accent-6);
  --highlighted-word-1-text: var(--accent-12);
  --highlighted-word-2-bg: var(--red-3);
  --highlighted-word-2-bg-active: var(--red-5);
  --highlighted-word-2-text: var(--red-11);
  --highlighted-word-3-bg: var(--green-3);
  --highlighted-word-3-bg-active: var(--green-5);
  --highlighted-word-3-text: var(--green-11);
}

.Pre code {
  font-size: calc(var(--font-size-2) * var(--code-font-size-adjust));
  font-family: var(--code-font-family);
  line-height: 22px;
  --letter-spacing: var(--letter-spacing-2);
}

.Pre.blue {
  --background: var(--color-panel);

  --syntax-accent: var(--accent-11);
  --syntax-accent-subtle: var(--accent-12);
  --syntax-complementary: var(--crimson-11);
  --syntax-secondary: var(--teal-11);

  --highlighted-line-bg: var(--accent-a3);
  --highlighted-word-1-bg: var(--accent-a4);
}

:global(:where(.dark, .dark-theme)) .Pre.blue {
  --syntax-accent: var(--accent-11);
}

.Pre.pink {
  --background: var(--color-panel-translucent);

  --syntax-accent: var(--blue-11);
  --syntax-accent-subtle: var(--blue-12);
  --syntax-complementary: var(--accent-11);
  --syntax-secondary: var(--blue-12);
}

.Pre.red {
  --background: var(--color-panel-translucent);

  --syntax-accent: var(--accent-11);
  --syntax-accent-subtle: var(--indigo-12);
  --syntax-complementary: var(--crimson-11);
  --syntax-secondary: var(--violet-11);
}

.Pre.teal {
  --background: var(--color-panel-translucent);

  --syntax-accent: var(--accent-11);
  --syntax-accent-subtle: var(--accent-12);
  --syntax-complementary: var(--crimson-11);
  --syntax-secondary: var(--violet-11);
}

.Pre.indigo {
  --background: var(--accent-a2);
  --text: var(--gray-12);

  --syntax-accent: var(--accent-11);
  --syntax-accent-subtle: var(--accent-12);
  --syntax-complementary: var(--crimson-11);
  --syntax-secondary: var(--violet-11);

  --highlighted-line-bg: var(--accent-a3);
  --highlighted-word-1-bg: var(--accent-a3);
}

.Pre > code {
  display: inline-block;
  min-width: 100%;
}

.Pre :where(:global(.token.punctuation), :global(.token.plain-text)) {
  color: var(--gray-12);
}

/* prettier-ignore */
.Pre
  :where(
    :global(.token.class-name),
    :global(.token.class),
    :global(.token.function),
    :global(.token.maybe-class-name),
    :global(.token.parameter),
    :global(.token.property),
    :global(.token.pseudo-class),
    :global(.token.selector),
    :global(.token.tag)
  ) {
  color: var(--syntax-accent);
}

/* prettier-ignore */
.Pre
:where(
  :global(.token.attr-value),
  :global(.token.color),
  :global(.token.imports)
  :global(.token.unit)
  ) {
    color: var(--syntax-accent-subtle);
  }

/* prettier-ignore */
.Pre
  :where(
    :global(.token.number),
    :global(.token.string)
    ) {
  color: var(--syntax-secondary);
}

/* prettier-ignore */
.Pre
  :where(
    :global(.token.attr-name),
    :global(.token.important),
    :global(.token.interpolation-punctuation),
    :global(.token.keyword),
    :global(.token.module),
    :global(.token.operator),
    :global(.token.rule),
    :global(.token.variable)
  ) {
  color: var(--syntax-complementary);
}

.Pre :where(:global(.token.comment)) {
  color: var(--gray-a11);
}

.Pre :where(:global(.token.atapply) :global(.token:not(.rule)):not(:global(.important))) {
  color: inherit;
}

.Pre :where(:global(.language-shell) :global(.token:not(.comment))) {
  color: inherit;
}

.Pre
  :where(:global(.token.deleted):not(:global(.prefix)), :global(.token.inserted):not(:global(.prefix))) {
  display: block;
  padding-inline: var(--space-4);
  margin-inline: -20px;
}

.Pre :where(:global(.token.deleted):not(:global(.prefix))) {
  color: var(--removed);
}

.Pre :where(:global(.token.inserted):not(:global(.prefix))) {
  color: var(--added);
}

.Pre :where(:global(.token.deleted.prefix), :global(.token.inserted.prefix)) {
  user-select: none;
}

.Pre :where(:global(.highlight-word)) {
  --bg-and-shadow: var(--highlighted-word-1-bg);
  color: var(--highlighted-word-1-text);
  background-color: var(--bg-and-shadow);
  display: inline-block;
}

.Pre :where(:global(.highlight-word)) :global(.token) {
  color: inherit;
}

.Pre :where(:global(.highlight-word)):global(.on) {
  --bg-and-shadow: var(--highlighted-word-1-bg-active);
  transition: all 100ms ease;
  cursor: pointer;
}

.Pre :global(.token.deleted) :global(.highlight-word) {
  --bg-and-shadow: var(--highlighted-word-2-bg);
  color: var(--highlighted-word-2-text);
}

.Pre :global(.token.deleted) :global(.highlight-word):global(.on) {
  --bg-and-shadow: var(--highlighted-word-2-bg-active);
}

.Pre :global(.token.inserted) :global(.highlight-word) {
  --bg-and-shadow: var(--highlighted-word-3-bg);
  color: var(--highlighted-word-3-text);
}

.Pre :global(.token.inserted) :global(.highlight-word):global(.on) {
  --bg-and-shadow: var(--highlighted-word-3-bg-active);
}

.Pre[data-line-numbers='true'] :global(.highlight-line) {
  position: relative;
  padding-left: var(--space-4);
}

.Pre[data-line-numbers='true'] :global(.highlight-line)::before {
  content: attr(data-line);
  position: absolute;
  left: -5px;
  top: 0;
  color: var(--line-numbers);
}

.Pre[data-line-numbers='true']
  [data-invert-line-highlight='true']
  :global(.highlight-line)::before {
  left: 10px;
}

.Pre [data-invert-line-highlight='false'] :global(.highlight-line),
.Pre [data-invert-line-highlight='false'] :global(.highlight-line) *,
.Pre[data-invert-line-highlight='false'] :global(.highlight-line),
.Pre[data-invert-line-highlight='false'] :global(.highlight-line) * {
  transition: color 150ms ease;
}

.Pre [data-invert-line-highlight='false'] :global(.highlight-line)[data-highlighted='false'],
.Pre [data-invert-line-highlight='false'] :global(.highlight-line)[data-highlighted='false'] *,
.Pre[data-invert-line-highlight='false'] :global(.highlight-line)[data-highlighted='false'],
.Pre[data-invert-line-highlight='false'] :global(.highlight-line)[data-highlighted='false'] * {
  color: var(--faded-lines);
}

.Pre [data-invert-line-highlight='true'] :global(.highlight-line) {
  margin-inline: calc(var(--space-5) * -1 + 1px);
  padding-inline: var(--space-5);
}

.Pre [data-invert-line-highlight='true'] :global(.highlight-line)[data-highlighted='true'] {
  background-color: var(--highlighted-line-bg);
}

.Pre :global(.typewriter) {
  opacity: 0;
}
