.Input {
  padding-inline: var(--space-6);
}

.Input:focus {
  box-shadow: inset 0px 0px 0px 1px var(--gray-8), 0px 0px 0px 1px var(--gray-8);
}

.Input[type='search']::-ms-clear,
.Input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.Input[type='search']::-webkit-search-decoration,
.Input[type='search']::-webkit-search-cancel-button,
.Input[type='search']::-webkit-search-results-button,
.Input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.List {
  list-style: none;
}

.ListItem {
  border-radius: var(--br-1);
}

.ListItem:active,
.ListItem[aria-selected='true'] {
  background-color: var(--accent-3);
}

.Mark {
  background-color: transparent;
  color: inherit;
}

.Panel {
  background-color: var(--color-background);
  box-shadow: var(--shadow-3);
  border-radius: var(--br-3);
}
