.ThemesHeroRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* Prevent elements with `position: absolute` from adding scrollbars */
  overflow: hidden;

  /* Scaling multiplier for the demo area */
  --themes-hero-showcase-scale: calc(10 / 16);
  --themes-hero-showcase-base-width: 1760px;
}

.ThemesHeroRoot.color-blue {
  --themes-hero-text-color: var(--themes-hero-blue-text-color);
  --themes-hero-soft-color: var(--themes-hero-blue-soft-color);
  --themes-hero-contrast-color: var(--themes-hero-blue-contrast-color);
  --themes-hero-tagline-title-color-1: var(--themes-hero-blue-tagline-title-color-1);
  --themes-hero-tagline-title-color-2: var(--themes-hero-blue-tagline-title-color-2);
  --themes-hero-tagline-title-color-3: var(--themes-hero-blue-tagline-title-color-3);
  --themes-hero-tagline-title-color-4: var(--themes-hero-blue-tagline-title-color-4);
  --themes-hero-tagline-title-color-1: var(--themes-hero-blue-tagline-title-color-1);
  --themes-hero-tagline-title-color-2: var(--themes-hero-blue-tagline-title-color-2);
  --themes-hero-tagline-title-color-3: var(--themes-hero-blue-tagline-title-color-3);
  --themes-hero-tagline-title-color-4: var(--themes-hero-blue-tagline-title-color-4);
}

.ThemesHeroRoot.color-green {
  --themes-hero-text-color: var(--themes-hero-green-text-color);
  --themes-hero-soft-color: var(--themes-hero-green-soft-color);
  --themes-hero-contrast-color: var(--themes-hero-green-contrast-color);
  --themes-hero-tagline-title-color-1: var(--themes-hero-green-tagline-title-color-1);
  --themes-hero-tagline-title-color-2: var(--themes-hero-green-tagline-title-color-2);
  --themes-hero-tagline-title-color-3: var(--themes-hero-green-tagline-title-color-3);
  --themes-hero-tagline-title-color-4: var(--themes-hero-green-tagline-title-color-4);
  --themes-hero-tagline-title-color-1: var(--themes-hero-green-tagline-title-color-1);
  --themes-hero-tagline-title-color-2: var(--themes-hero-green-tagline-title-color-2);
  --themes-hero-tagline-title-color-3: var(--themes-hero-green-tagline-title-color-3);
  --themes-hero-tagline-title-color-4: var(--themes-hero-green-tagline-title-color-4);
}

.ThemesHeroRoot.color-red {
  --themes-hero-text-color: var(--themes-hero-red-text-color);
  --themes-hero-soft-color: var(--themes-hero-red-soft-color);
  --themes-hero-contrast-color: var(--themes-hero-red-contrast-color);
  --themes-hero-tagline-title-color-1: var(--themes-hero-red-tagline-title-color-1);
  --themes-hero-tagline-title-color-2: var(--themes-hero-red-tagline-title-color-2);
  --themes-hero-tagline-title-color-3: var(--themes-hero-red-tagline-title-color-3);
  --themes-hero-tagline-title-color-4: var(--themes-hero-red-tagline-title-color-4);
  --themes-hero-tagline-title-color-1: var(--themes-hero-red-tagline-title-color-1);
  --themes-hero-tagline-title-color-2: var(--themes-hero-red-tagline-title-color-2);
  --themes-hero-tagline-title-color-3: var(--themes-hero-red-tagline-title-color-3);
  --themes-hero-tagline-title-color-4: var(--themes-hero-red-tagline-title-color-4);
}

@media (min-width: 500px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(11 / 16);
  }
}

@media (min-width: 500px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(12 / 16);
  }
}

@media (min-width: 600px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(13 / 16);
  }
}

@media (min-width: 700px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(14 / 16);
  }
}

@media (min-width: 800px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: 1;
  }
}

@media (min-width: 1000px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(10 / 16);
  }
}

@media (min-width: 1900px) and (min-height: 800px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(12 / 16);
  }
}

@media (min-width: 2200px) and (min-height: 800px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(13 / 16);
  }
}

@media (min-width: 2400px) and (min-height: 800px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(15 / 16);
  }
}

@media (min-width: 2700px) and (min-height: 800px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: 1;
  }
}

@media (min-width: 3000px) and (min-height: 1000px) {
  .ThemesHeroRoot {
    --themes-hero-showcase-scale: calc(18 / 16);
  }
}

.ThemesHeroContent {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.ThemesHeroTagline {
  font-family: 'Untitled Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Open Sans', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: var(--themes-hero-text-color);
  box-sizing: border-box;
  margin-top: 80px;
}

.ThemesHeroTaglineTitle {
  font-size: 280em;
  font-weight: 500;
  letter-spacing: -0.09em;
  line-height: 0.8;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -0.075em;
  user-select: none;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  background-image: linear-gradient(
    180deg,
    var(--themes-hero-tagline-title-color-1, currentcolor) 5%,
    var(--themes-hero-tagline-title-color-2, currentcolor) 60%,
    var(--themes-hero-tagline-title-color-3, currentcolor) 80%,
    var(--themes-hero-tagline-title-color-4, currentcolor) 90%
  );

  padding-right: 0.2em;
  margin-right: -0.2em;

  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

.ThemesHeroTaglineText {
  font-size: max(30em, 22px);
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.4;
  margin: 1em 0;
}

.ThemesHeroActions {
  display: flex;
  gap: 16em;
}

.ThemesHeroButton {
  font-size: max(20em, 15px);
  font-weight: 500;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  gap: 1em;
  height: 3em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-bottom: 0.1em;
  margin: 0;
  text-decoration: none;
  border-radius: 0.5em;
  user-select: none;
  white-space: nowrap;
}

.ThemesHeroButton.variant-soft {
  background-color: var(--themes-hero-soft-color);
  color: var(--themes-hero-text-color);
}

.ThemesHeroButton.variant-solid {
  background-color: var(--themes-hero-text-color);
  color: var(--themes-hero-contrast-color);
}

.ThemesHeroButton svg {
  opacity: 0.8;
  width: 1.25em;
  height: 1.25em;
  margin-top: 0.05em;
  margin-left: -0.5em;
  margin-right: -0.3em;
}

.ThemesHeroShowcase {
  position: relative;
  /* user-select: none; */
}

.ThemesHeroShowcase::before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';

  /* Position the background relative to the content-box */
  background-origin: content-box;

  /* Extend the padding-box outwards without moving the content-box */
  padding: 9999px;
  margin: -9999px;

  /*
   * Radii that define the dots in the pattern scale inversely to the showcase scaling
   * factor with certain limits that maintain a balanced visual appearance.
   */
  --themes-hero-showcase-dot-r1: max(min(calc(10% / var(--themes-hero-showcase-scale)), 11%), 10%);
  --themes-hero-showcase-dot-r2: max(min(calc(12% / var(--themes-hero-showcase-scale)), 14%), 12%);

  /* Render the dot pattern */
  background-image: radial-gradient(
    var(--gray-a6) var(--themes-hero-showcase-dot-r1),
    transparent var(--themes-hero-showcase-dot-r2)
  );

  background-color: var(--gray-1);

  /* Scale the dots together with the demo */
  background-size: calc(16px * var(--themes-hero-showcase-scale))
    calc(16px * var(--themes-hero-showcase-scale));
}

.ThemesHeroShowcaseInnerScaled {
  transform: scale(var(--themes-hero-showcase-scale));
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            Before 1000px            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@media (max-width: 999.99px) {
  .ThemesHeroRoot {
    font-size: 0.13vw;
  }

  .ThemesHeroContent {
    flex-direction: column;
  }

  .ThemesHeroTagline {
    text-align: center;
    padding: 4vw;
  }

  .ThemesHeroActions {
    justify-content: center;
  }

  .ThemesHeroShowcase {
    position: relative;
    --themes-hero-showcase-padding: 48px;
  }

  .ThemesHeroShowcase::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .ThemesHeroShowcase::before {
    /* "Spread" the background pattern from top center of .ThemesHeroShowcase element */
    top: 0;
    left: 50%;
    background-position-x: center;
    background-position-y: calc(
      (var(--themes-hero-showcase-padding) - 16px / 2) * var(--themes-hero-showcase-scale)
    );
  }

  .ThemesHeroShowcaseInner {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-snap-type: x proximity;
    height: calc(
      (1550px + var(--themes-hero-showcase-padding) * 2) * var(--themes-hero-showcase-scale)
    );
  }

  .ThemesHeroShowcaseInnerScaled {
    display: table;
    padding: var(--themes-hero-showcase-padding);
    transform-origin: top left;
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*            After 1000px             */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@media (min-width: 1000px) {
  .ThemesHeroRoot {
    /* 1em is no smaller than 0.4px and no larger than 1px, 0.05vw, or 0.1vh */
    font-size: max(0.4px, min(1px, 0.05vw, 0.1vh));
  }

  .ThemesHeroContent {
    align-items: stretch;
  }

  .ThemesHeroTagline {
    flex-shrink: 0;

    /* The hero width is between 320px and 800px */
    width: 800em;

    /* Push self away from the left edge when there's space */
    margin-left: auto;

    /* The padding is between 25px and 62.5px */
    padding-left: 62.5em;
    padding-right: 62.5em;
    margin-bottom: 62.5em;
  }

  .ThemesHeroTagline {
    display: flex;
  }

  .ThemesHeroShowcase {
    /* Set static width as actual content is positioned absolutely */
    width: calc(var(--themes-hero-showcase-base-width) * var(--themes-hero-showcase-scale));

    /* Push self away from the right edge when there's space */
    margin-right: auto;
  }

  .ThemesHeroShowcase::before {
    /* "Spread" the background pattern from center left of .ThemesHeroShowcase element */
    background-position: 50% calc(50% + 0.5px);
    top: 50%;
    left: 0;
  }

  .ThemesHeroShowcaseInner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .ThemesHeroShowcaseInnerScaled {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    transform-origin: center left;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .ThemesHeroTagline {
    align-items: center;

    /* Visually center the hero */
    margin-bottom: calc(2vh + 80px);
  }
}
