@media (min-width: 900px) {
  .Header {
    padding-left: 250px;
  }

  .MobileMenuButton {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .Header {
    padding-right: 250px;
  }
}
