.LogoLink {
	display: block;
	outline: 0;
	color: var(--gray-12);
	position: relative;

	@media (hover: hover) {
		color: var(--gray-9);
		transition: 120ms color;
		&:hover {
			color: var(--gray-12);
		}
	}

	&:focus-visible {
		z-index: 1;
		color: var(--gray-12);
		box-shadow: 0 0 0 2px var(--blue-8);
	}

	&:where([data-variant="normal"]) {
		margin: calc(var(--space-1) * -1);
		padding: var(--space-1);
		border-radius: var(--radius-2);
	}

	&:where([data-variant="box"]) {
		box-shadow: 0 0 0 1px var(--gray-6);
		&::before {
			content: "";
			z-index: 1;
			position: absolute;
			pointer-events: none;
			transition: 120ms opacity;
			inset: 0;
			opacity: 0;
			box-shadow: 0 0 0 1px var(--gray-8);
		}
		&:hover::before {
			opacity: 1;
		}
		&:focus::before {
			box-shadow: 0 0 0 1px var(--gray-8);
		}
		&:focus:not(:focus-visible)::before {
			opacity: 1;
		}
	}
}
