.Cards {
	display: flex;
	flex-direction: column;
	width: 60%;
	background-color: var(--color-panel-solid);
	border-radius: var(--radius-4);
	box-shadow:
		0 0 0 1px var(--gray-a3),
		var(--shadow-4);
}

.RadioButton {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	box-shadow: inset 0 0 0 1px var(--gray-8);
	background-color: var(--color-surface);
	flex-shrink: 0;
	margin-right: var(--space-3);
}

.RadioIndicator {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--gray-12);
	transform: scale(0);
}

.Radio {
	all: unset;
	box-sizing: border-box;
	user-select: none;
	display: flex;
	align-items: center;
	padding: var(--space-3);

	&:first-child {
		border-top-left-radius: var(--radius-4);
		border-top-right-radius: var(--radius-4);
	}

	&:last-child {
		border-bottom-left-radius: var(--radius-4);
		border-bottom-right-radius: var(--radius-4);
	}

	& + & {
		box-shadow: inset 0 1px var(--gray-5);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-a2);
		}
	}

	&[data-state="checked"] {
		z-index: 1;
		background-color: var(--gray-a2);

		.RadioIndicator {
			transform: scale(1);
		}
	}

	&:focus-visible[data-state="checked"] {
		box-shadow: 0 0 0 2px var(--accent-8);
	}
}
