.Slider {
	position: relative;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	width: 200px;

	&[data-orientation="horizontal"] {
		height: 20px;
	}

	&[data-orientation="vertical"] {
		flex-direction: column;
		width: 20px;
		height: 100px;
	}
}

.Track {
	background-color: var(--gray-a6);
	position: relative;
	flex-grow: 1;
	border-radius: 9999px;

	&[data-orientation="horizontal"] {
		height: 4px;
	}

	&[data-orientation="vertical"] {
		width: 4px;
	}
}

.Range {
	position: absolute;
	background-color: var(--gray-a12);
	border-radius: 9999px;
	height: 100%;
}

.Thumb {
	all: unset;
	display: block;
	width: 20px;
	height: 20px;
	background-color: white;
	box-shadow:
		0 2px 10px -5px var(--black-a5),
		0 1px 4px -1px var(--black-a4),
		0 0 0 1px var(--black-a2);
	border-radius: 10px;

	&:focus-visible {
		box-shadow:
			0 2px 10px -5px var(--black-a5),
			0 1px 4px -1px var(--black-a4),
			0 0 0 1px var(--black-a2),
			0 0 0 4px var(--gray-a4);
	}
}
