.Tabs {
	display: flex;
	flex-direction: column;
	width: 80%;
	border-radius: var(--radius-4);
	box-shadow:
		0 0 0 1px var(--gray-a3),
		var(--shadow-4);
}

.List {
	display: flex;
	flex-shrink: 0;
}

.Trigger {
	--side-shadow: 0 0;
	--bottom-shadow: inset 0 -1px var(--gray-6);
	all: unset;
	padding: 0 20px;
	height: var(--space-7);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	user-select: none;
	background-color: var(--gray-2);
	color: var(--gray-a11);
	box-shadow: var(--bottom-shadow), var(--side-shadow);
	&:hover {
		background-color: var(--gray-1);
	}
	&[data-state="active"] {
		color: var(--gray-12);
		background-color: var(--color-panel-solid);
		--bottom-shadow: 0 0;
	}
	&:focus-visible {
		z-index: 1;
		box-shadow: 0 0 0 2px var(--accent-8);
	}
	& + & {
		--side-shadow: -1px 0 var(--gray-6);
	}
	&:first-child {
		border-top-left-radius: var(--radius-4);
	}
	&:last-child {
		border-top-right-radius: var(--radius-4);
	}
}

.Content {
	flex-grow: 1;
	padding: 20px;
	background-color: var(--color-panel-solid);
	border-bottom-left-radius: var(--radius-4);
	border-bottom-right-radius: var(--radius-4);
	outline: none;
	&:focus-visible {
		box-shadow: 0 0 0 2px var(--blue-8);
	}
}

.Fieldset {
	all: unset;
	margin-bottom: var(--space-3);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
