@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/violet.css';

.AlertDialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .AlertDialogOverlay {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.AlertDialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
}
.AlertDialogContent:focus {
  outline: none;
}
@media (prefers-reduced-motion: no-preference) {
  .AlertDialogContent {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.AlertDialogTitle {
  margin: 0;
  color: var(--mauve12);
  font-size: 17px;
  font-weight: 500;
}

.AlertDialogDescription {
  margin-bottom: 20px;
  color: var(--mauve11);
  font-size: 15px;
  line-height: 1.5;
}

.AlertDialogButton {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.AlertDialogButton.violet {
  background-color: white;
  color: var(--violet11);
  box-shadow: 0 2px 10px var(--blackA7);
}
.AlertDialogButton.violet:hover {
  background-color: var(--mauve3);
}
.AlertDialogButton.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.AlertDialogButton.red {
  background-color: var(--red4);
  color: var(--red11);
}
.AlertDialogButton.red:hover {
  background-color: var(--red5);
}
.AlertDialogButton.red:focus {
  box-shadow: 0 0 0 2px var(--red7);
}
.AlertDialogButton.mauve {
  background-color: var(--mauve4);
  color: var(--mauve11);
}
.AlertDialogButton.mauve:hover {
  background-color: var(--mauve5);
}
.AlertDialogButton.mauve:focus {
  box-shadow: 0 0 0 2px var(--mauve7);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
