.Toggle {
	all: unset;
	background-color: white;
	color: var(--mauve-11);
	height: 35px;
	width: 35px;
	border-radius: 4px;
	display: flex;
	font-size: 15px;
	line-height: 1;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 10px var(--black-a7);
	user-select: none;
	&:hover {
		background-color: var(--violet-3);
	}
	&[data-state="on"] {
		background-color: var(--violet-6);
		color: var(--violet-12);
	}
	&:focus {
		box-shadow: 0 0 0 2px black;
	}
}
