.Root {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.Item {
	all: unset;
	background-color: white;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	box-shadow: 0 2px 10px var(--black-a7);
	&:hover {
		background-color: var(--violet-3);
	}
	&:focus {
		box-shadow: 0 0 0 2px black;
	}
}

.Indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: var(--violet-11);
	}
}

.Label {
	color: white;
	font-size: 15px;
	line-height: 1;
	padding-left: 15px;
}
