@import '@radix-ui/colors/blackA.css';

.Container {
  width: 300px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--blackA7);
}

.Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
