.Root {
	display: flex;
	background-color: white;
	padding: 3px;
	border-radius: 6px;
	box-shadow: 0 2px 10px var(--black-a7);
}

.Trigger {
	all: unset;
	padding: 8px 12px;
	outline: none;
	user-select: none;
	font-weight: 500;
	line-height: 1;
	border-radius: 4px;
	color: var(--violet-11);
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2px;
}

.Trigger[data-highlighted],
.Trigger[data-state="open"] {
	background-color: var(--violet-4);
}

.Content,
.SubContent {
	min-width: 220px;
	background-color: white;
	border-radius: 6px;
	padding: 5px;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}

.Item,
.SubTrigger,
.CheckboxItem,
.RadioItem {
	all: unset;
	font-size: 13px;
	line-height: 1;
	color: var(--violet-11);
	border-radius: 4px;
	display: flex;
	align-items: center;
	height: 25px;
	padding: 0 10px;
	position: relative;
	user-select: none;
}

.Item:global(.inset),
.SubTrigger:global(.inset),
.CheckboxItem:global(.inset),
.RadioItem:global(.inset) {
	padding-left: 20px;
}

.Item[data-state="open"],
.SubTrigger[data-state="open"] {
	background-color: var(--violet-4);
	color: var(--violet-11);
}

.Item[data-highlighted],
.SubTrigger[data-highlighted],
.CheckboxItem[data-highlighted],
.RadioItem[data-highlighted] {
	background-image: linear-gradient(
		135deg,
		var(--violet-9) 0%,
		var(--violet-10) 100%
	);
	color: var(--violet-1);
}

.Item[data-disabled],
.SubTrigger[data-disabled],
.CheckboxItem[data-disabled],
.RadioItem[data-disabled] {
	color: var(--mauve-8);
	pointer-events: none;
}

.ItemIndicator {
	position: absolute;
	left: 0;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.Separator {
	height: 1px;
	background-color: var(--violet-6);
	margin: 5px;
}

.RightSlot {
	margin-left: auto;
	padding-left: 20px;
	color: var(--mauve-9);
}

[data-highlighted] > .RightSlot {
	color: white;
}

[data-disabled] > .RightSlot {
	color: var(--mauve-8);
}
