.radix-themes:not(.radix-themes-example) {
  --default-font-family: var(--fonts-untitled);
  --code-font-size-adjust: 0.87;
  --letter-spacing-1: 0.005em;
  --letter-spacing-2: 0em;
  --letter-spacing-3: 0em;
  --letter-spacing-4: -0.005em;
  --letter-spacing-5: -0.01em;
  --letter-spacing-6: -0.0125em;
  --letter-spacing-7: -0.015em;
  --letter-spacing-8: -0.02em;
  --letter-spacing-9: -0.05em;
}
