.Root {
	width: 200px;
	height: 225px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 2px 10px var(--black-a4);
	background-color: white;
	--scrollbar-size: 10px;
}

.Viewport {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.Scrollbar {
	display: flex;
	/* ensures no selection */
	user-select: none;
	/* disable browser handling of all panning and zooming gestures on touch devices */
	touch-action: none;
	padding: 2px;
	background: var(--black-a3);
	transition: background 160ms ease-out;
	&:hover {
		background: var(--black-a5);
	}
	&[data-orientation="vertical"] {
		width: var(--scrollbar-size);
	}
	&[data-orientation="horizontal"] {
		flex-direction: column;
		height: var(--scrollbar-size);
	}
}

.Thumb {
	flex: 1;
	background: var(--mauve-10);
	border-radius: var(--scrollbar-size);
	position: relative;

	/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		min-width: 44px;
		min-height: 44px;
	}
}

.Corner {
	background: var(--black-a5);
}

.Text {
	color: var(--violet-11);
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;
}

.Tag {
	color: var(--mauve-12);
	font-size: 13px;
	line-height: 18px;
	margin-top: 10px;
	border-top: 1px solid var(--mauve-6);
	padding-top: 10px;
}
