.Root {
	all: unset;
	background-color: white;
	width: 25px;
	height: 25px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 10px var(--black-a7);
	&:hover {
		background-color: var(--violet-3);
	}

	&:focus {
		box-shadow: 0 0 0 2px black;
	}
}

.Indicator {
	color: var(--violet-11);
}

.Label {
	color: white;
	padding-left: 15px;
	font-size: 15px;
	line-height: 1;
}
