.LayersRoot {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	cursor: default;
	user-select: none;

	box-sizing: border-box;
	background-color: var(--panel);
	box-shadow: inset 0 0 0 1px var(--gray-a4);
	color: var(--gray-12);
	overflow: hidden;
}

.LayersRoot svg {
	color: var(--gray-8);
}

.LayersItem {
	display: flex;
	gap: var(--space-2);
	flex-direction: row;
	align-items: center;
	box-sizing: border-box;
	height: var(--space-6);
	padding: var(--space-2);
}

.LayersItem:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.LayersItem:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.LayersItem:active {
	background-color: var(--accent-a2);
	color: var(--accent-12);
}

.LayersItem[data-state="on"] {
	pointer-events: none;
	background-color: var(--accent-a3);
	color: var(--accent-12);
}

.LayersItem[data-state="on"] svg {
	color: inherit;
	filter: none;
}

.LayersItem[data-indent="1"] {
	padding-left: var(--space-6);
}

@media (hover: hover) {
	.LayersItem:hover[data-state="off"] {
		outline: 1px solid var(--accent-7);
		outline-offset: -1px;
	}
}

.LayersItem:focus-visible {
	outline: 1px solid var(--accent-7);
	outline-offset: -1px;
}
