.BaseButton {
  all: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--space-6);
  padding-inline: var(--space-4);
  border-radius: var(--radius-3);
  font-weight: 600;
  font-size: 14px;
}

.SoftButton {
  background-color: var(--color-3);
  color: var(--color-11);
}

.SoftButton:hover {
  background-color: var(--color-4);
}

.SoftButton:active {
  background-color: var(--color-5);
}

.GhostButton {
  background-color: transparent;
  color: var(--color-11);
}

.GhostButton:hover {
  background-color: var(--color-4);
}

.GhostButton:active {
  background-color: var(--color-5);
}

.OutlineButton {
  background-color: var(--color-1);
  box-shadow: inset 0 0 0 1px var(--color-7);
  color: var(--color-11);
}

.OutlineButton:hover {
  box-shadow: inset 0 0 0 1px var(--color-8);
}

.SolidButton {
  background-color: var(--color-9);
  color: white;
}

.SolidButton:hover {
  background-color: var(--color-10);
}

.SolidButton.invertText {
  color: var(--gray-1);
}

.IconButton {
  width: var(--space-6);
  padding-inline: 0;
}

.MenuItemButton {
  padding-inline: var(--space-5);
  justify-content: flex-start;
  max-width: 250px;
  color: var(--gray-12);
  border-radius: 0;
  font-weight: normal;
  font-size: 12px;
  background-color: transparent;
  font-variant-numeric: tabular-nums;
}

.MenuItemButton:hover {
  background-color: var(--color-4);
}

.MenuItemButton:active,
.MenuItemButton[data-state='active'] {
  background-color: var(--color-5);
}

.MenuItemButton[data-state='selected'],
.MenuItemButton[data-state='selected']:hover,
.MenuItemButton[data-state='selected']:active {
  background-color: var(--color-4);
}

.MenuItemButton[data-state='highlighted'] {
  background-color: var(--color-5);
}

.MenuItemButton[data-state='highlighted']:hover,
.MenuItemButton[data-state='highlighted']:active {
  background-color: var(--color-6);
}

.ToggleSwitch {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 45px;
  height: var(--space-5);
  border-radius: 999px;
  background-color: var(--accent-10);
  color: white;
  padding: 2px;
}

.ToggleSwitch::after {
  content: '';
  height: 100%;
  aspect-ratio: 1 / 1;
  background-color: currentColor;
  border-radius: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.Slider {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  height: var(--space-1);
  border-radius: 999px;
  background-color: var(--accent-10);
  color: white;
}

.Slider::after {
  content: '';
  height: var(--space-4);
  width: var(--space-4);
  background-color: currentColor;
  border-radius: inherit;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px rgba(0, 0, 0, 0.2);
}
